<!--[if lt IE 9]> <script>location.href='unsupport.html?refer='+encodeURIComponent(location.href)</script> <![endif]-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>找回密码 - 小幺鸡</title>
  <!-- build:stylecss assets/css/style.css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- endbuild -->
  <link rel="alternate" hreflang="zh-hans" href="//www.xiaoyaoji.com.cn/" />
  <meta name="keywords" content="小幺鸡,接口文档管理,接口平台,api,api管理,api测试,接口文档工具,接口演示,rest,restful,rest api,接口测试,postman,文档管理,websocket在线测试" />
  <meta name="description" content="简单好用的在线文档管理工具，支持restapi、websocket在线测试,支持markdown编辑器,提升开发效率降低接口错误率。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="login-register-body" id="app">
<div class="login-form mc" v-cloak v-if="!!id">
  <validator name="form">
    <form class="form" v-on:submit.prevent>
      <div class="ta-c logo"><a href="/"><img src="assets/img/logo/full.png"></a> </div>
      <div class="item">{{email}}</div>
      <div class="item">
        <input type="password"  class="text" tabindex="2" v-model="password" v-validate:password="['required']" initial="off" placeholder="请输入新密码"/>
        <p class="tip" v-cloak v-if="$form.password.invalid">{{$form.password.errors[0].message}}</p>
      </div>
      <div class="item">
        <input type="password" tabindex="3" v-model="rePassword" v-validate:re-password="{required:true}"  initial="off" maxlength="20" class="text" autocomplete="off"  placeholder="请确认密码"/>
        <p class="tip" v-cloak v-if="$form.rePassword.invalid">请输入确认密码</p>
      </div>
      <div class="item">
        <input type="submit" id="register-btn" tabindex="4" v-on:click="submit" class="btn" value="修改新密码"/>
      </div>
    </form>
  </validator>
  <div class="long-line"></div>
  <br/>
  <div>
    <a href="login.html">返回登陆</a>
  </div>
</div>
${require('./includes/js.html')}
<!-- build:findpassword built/findpassword.js -->
<script src="../built/findpassword.js"></script>
<!-- endbuild -->
</body>
</html>