<!--[if lt IE 9]> <script>location.href='unsupport.html?refer='+encodeURIComponent(location.href)</script> <![endif]-->
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>忘记密码 - 小幺鸡</title>
  <!-- build:stylecss assets/css/style.css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- endbuild -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <link rel="alternate" hreflang="zh-hans" href="//www.xiaoyaoji.com.cn/" />
  <meta name="keywords" content="小幺鸡,接口文档管理,接口平台,api,api管理,api测试,接口文档工具,接口演示,rest,restful,rest api,接口测试,postman,文档管理,websocket在线测试" />
  <meta name="description" content="小幺鸡简单好用的在线文档管理系统，支持JSON,WebSocket在线测试,提升开发效率降低接口错误率。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="login-register-body" id="app">
<div class="login-form mc" v-bind:class="{'succeed':succeed}">
  <form class="form" v-on:submit.prevent id="login-box">
    <div class="ta-c logo"><a href="/"><img src="assets/img/logo/full.png"></a> </div>
    <div v-if="!succeed">
      <validator name="form">
        <div class="item">
          <input type="text" initial="off" autofocus="autofocus" v-model="email" v-validate:email="['required','email']" class="text" placeholder="请输入注册邮箱"/>
          <p class="tip ta-c" v-cloak v-if="$form.email.invalid">{{$form.email.errors[0].message}}</p>
        </div>
      </validator>
      <div class="item">
        <input type="submit" @click="findPassword" class="btn" value="找回密码"/>
      </div>
    </div>
    <template v-else="succeed">
      <div class="forget-succeed ta-c">
        <strong>Hi, {{username}}</strong>
        <p>验证邮件发送成功。</p>
        <p>请至邮箱查收验证邮件，进行邮箱确认操作。</p>
        <div class="item">   <br/>
          <a v-on:click="go" class="btn btn-primary lf-gotomail">立刻登陆邮箱完成验证</a>
        </div>
      </div>
    </template>
  </form>
</div>

<div  v-if="succeed" v-cloak class="ta-c lr-friendly-tip">若您没有收到邮件您可以：检查您的垃圾邮件中，是否包含验证邮件；或者 <a @click="resend" v-text="resendtext"></a></div>
${require('./includes/js.html')}
<!-- build:forget built/forget.js -->
<script src="../built/forget.js"></script>
<!-- endbuild -->
</body>
</html>