<!--[if lt IE 9]> <script>location.href='unsupport.html?refer='+encodeURIComponent(location.href)</script> <![endif]-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>在线帮助 - 小幺鸡</title>
    <!-- build:stylecss assets/css/style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- endbuild -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <link rel="alternate" hreflang="zh-hans" href="//www.xiaoyaoji.com.cn/" />
    <meta name="keywords" content="小幺鸡,接口文档管理,接口平台,api,api管理,api测试,接口文档工具,接口演示,rest,restful,rest api,接口测试,postman,文档管理,websocket在线测试" />
    <meta name="description" content="简单好用的在线文档管理工具，支持restapi、websocket在线测试,支持markdown编辑器,提升开发效率降低接口错误率。" />
    <link rel="shortcut icon" type="image/x-ico" href="favicon.ico">
</head>
<body id="app">
${require('./includes/header.html')}
<div class="help-bg"></div>
<div class="mc help-content">
    <br/><br/><br/>
    <h3>如果解决跨域访问？</h3>
    <div>
        <p>1.服务器提供<a href="http://baike.baidu.com/item/jsonp" target="_blank">JSONP</a> 支持</p>
        <p>2.服务器提供<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Access_control_CORS" target="_blank">CORS</a> 支持</p>
        <p>3.下载由小幺鸡提供的Chrome浏览器插件。
            <a href="extension/xiaoyaoji.crx" target="_blank">本地下载</a>
            <a href="https://chrome.google.com/webstore/detail/%E5%B0%8F%E5%B9%BA%E9%B8%A1/omohfhadnbkakganodaofplinheljnbd" target="_blank">chrome应用商店下载</a>
        </p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;3.1 扩展安装后无法启用解决方案: <a href="http://www.veryhuo.com/a/view/98094.html" target="_blank">点击查看</a> </p>
    </div>
    <br/>
    <h3>无法访问谷歌应用商店?</h3>
    <div>
        <p>1.下载 <a href="https://s3.amazonaws.com/lantern/lantern-installer-beta.exe" target="_blank">lantern</a> 并安装 。然后打开即可正常访问。</p>
        <p>2.下载<a href="http://www.ishadowsocks.org/" target="_blank"> shadowsocks </a>  然后配置服务器。
            <a href="http://www.ishadowsocks.org/" target="_blank">免费服务器1</a>
            <a href="http://mianvpn.com/" target="_blank">免费服务器2</a>
            <a href="https://www.ss-link.com/" target="_blank">免费服务器3</a>
        </p>
    </div>
    <br/>
    <h3>页面打开空白或者部分使用不了?</h3>
    <div>
        <p>请使用CTRL+F5 强制刷新一下浏览器。 </p>
    </div>
    <br/>
    <h3>如果有其他问题,请在下方留言</h3>       <br/>

    <!-- 代码1：放在页面需要展示的位置  -->
    <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
    <div id="cyReward" role="cylabs" class="ta-c" data-use="reward"></div>
    <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
    <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
    <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
    <script type="text/javascript" charset="utf-8" src="http://changyan.itc.cn/js/lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysoLfgbC"></script>

    <!--PC版-->
    <div id="SOHUCS" sid="help"></div>
    <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cysoLfgbC',
            conf: 'prod_4ca963426a979bab54acc704545f436d'
        });
    </script>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
${require('./includes/footer.html')}
</body>
</html>