<!--[if lt IE 9]> <script>location.href='unsupport.html?refer='+encodeURIComponent(location.href)</script> <![endif]-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>注册 - 小幺鸡</title>
  <!-- build:stylecss assets/css/style.css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- endbuild -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <link rel="alternate" hreflang="zh-hans" href="//www.xiaoyaoji.com.cn/" />
  <meta name="keywords" content="小幺鸡,接口文档管理,接口平台,api,api管理,api测试,接口文档工具,接口演示,rest,restful,rest api,接口测试,postman,文档管理,websocket在线测试" />
  <meta name="description" content="简单好用的在线文档管理工具，支持restapi、websocket在线测试,支持markdown编辑器,提升开发效率降低接口错误率。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body class="login-register-body" id="register">
<div class="login-form mc">
  <validator name="form">
    <form class="form" v-on:submit.prevent>
      <div class="ta-c logo"><a href="/"><img src="assets/img/logo/full.png"></a> </div>
      <div class="item">
        <input type="text" autofocus tabindex="1" v-model="nickname" maxlength="10" v-validate:nickname="{required:true,maxlength:20}" initial="off" class="text"  placeholder="输入姓名方便团队识别"/>
        <p class="tip" v-cloak v-if="$form.nickname.invalid">{{$form.nickname.errors[0].message}}</p>
      </div>
      <div class="item">
        <input type="email"  class="text" tabindex="2" v-model="email" maxlength="45" v-validate:email="['required','email']" initial="off" placeholder="输入邮箱可以找回密码"/>
        <p class="tip" v-cloak v-if="$form.email.invalid">{{$form.email.errors[0].message}}</p>
      </div>
      <div class="item">
        <input type="password" tabindex="3" v-model="password" v-validate:password="{required:true}"  initial="off" maxlength="20" class="text" autocomplete="off"  placeholder="密码"/>
        <p class="tip" v-cloak v-if="$form.password.invalid">请输入密码</p>
      </div>
      <div class="item">
        <input type="submit" id="register-btn" tabindex="4" v-on:click="submit" class="btn" value="免费注册"/>
      </div>
    </form>
  </validator>
  <div class="long-line"></div>
  <br/>
  <div>
    <a href="login.html">返回登陆</a>
  </div>
</div>
${require('./includes/js.html')}
<!-- build:register built/register.js -->
<script src="../built/register.js"></script>
<!-- endbuild -->
</body>
</html>